{% extends 'base.html' %}
{% macro list_orders(orders, status, next_status, prev_status=none) %}
  <h1>{{ status }} orders:</h1>
  <table border="1">
    <tr>
      <th>Order number</th><th>User</th><th>Parts</th><th>{{ next_status }}</th>
    </tr>
    {% for order in orders %}
      <tr>
        <td><a href="{{ url_for('users.order', id=order.id) }}">{{ order.id }}</a></td>
        <td>{{ order.user.name }} ({{ order.user.username }})</td>
        <td>
          <ul>
            {% for order_item in order.order_items %}
              <li>{{ order_item.part.name }} ({{ order_item.quantity }})</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% set url_text = ['admin.', next_status|lower, '_order' ] %}
          <form action="{{ url_for( url_text|join, id=order.id) }}" method="POST">
            <input type="submit" value="{{ next_status }}" >
          </form>
          {% if prev_status is not none %}
            {% set url_text = ['admin.', prev_status|lower, '_order' ] %}
            <form action="{{ url_for(url_text|join, id=order.id) }}" method="POST">
              <input type="submit" value={{ prev_status }}>
            </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{%- endmacro %}

{% block content %}
  <a href="{{ url_for('admin.users')}}"><h2>Manage Users</h2></a><br>
  <a href="{{ url_for('admin.orders')}}"><h2>View All Orders</h2></a><br>

  <hr>
  {{ list_orders(pending, "Pending", "Reserve") }}
  <hr>
  {{ list_orders(reserved, "Reserved", "Rent", "Cancel") }}
  <hr>
  {{ list_orders(rented, "Rented", "Return") }}
{% endblock %}
