alembic==0.9.1
appdirs==1.4.3
asn1crypto==0.22.0
beautifulsoup4==4.6.0
blinker==1.4
bs4==0.0.1
cffi==1.10.0
chardet==3.0.2
chardet2==2.0.3
click==6.7
clyent==1.2.1
cryptography==1.8.1
dataset==0.8.0
DateTime==4.2
dominate==2.3.1
enum34==1.1.6
Flask==0.12.2
Flask-Login==0.2.11
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-OAuth==0.12
Flask-OAuth2-Login==0.0.9
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.6
MarkupSafe==1.0
normality==0.4.2
oauth==1.0.1
oauth2==1.9.0.post1
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2017.2
PyYAML==3.12
rauth==0.7.3
requests==2.14.2
requests-oauthlib==0.8.0
six==1.10.0
SQLAlchemy==1.1.9
visitor==0.1.3
Werkzeug==0.12.2
WTForms==2.1
zope.interface==4.4.1
