{% extends 'base.html' %}
{% block content %}
<!-- /parts/list.html -->
<h1>
{% if category == None %}
  Parts
{% elif category=='wireless' %}
  Wireless
{% else %}
  {{ category.capitalize() + 's' }}
{% endif %}
</h1>
    {% if current_user is not none and current_user.is_admin %}
<p class="lnk-new"><a href="parts/new">add a new part »</a></p>
    {% endif %}
<table>
{% for part in parts %}
  <tr>
    <td>
      {% if part.images | length > 0 %}
      <img height="200" src="{{ url_for('static', filename=part.images[0].filename) }}"/>
        <!--{% set s3_image_url = [config.S3_BUCKET_NAME,part.images[0].filename] | join %}-->
        <!--<img height="200" src="{{ s3_image_url }}"/>-->
      {% else %}
      <img height="200" src="#"/>
      {% endif %}
    </td>
    <td>
      <h2 class="part_name"><a href="{{ url_for('public.part', id=part.id) }}">{{ part.name }}</a></h2>
      <p>({{ part.inventory_item.quantity }} available)</p>

      <span class="controls">
      {% if current_user is not none and current_user.is_admin %}
        <a href="{{ url_for('admin.edit_part', id=part['id']) }}">edit</a>
        &emsp;
          <form id="frm-delete-{{ part['id' ]}}" class="frm-delete" action="{{ url_for('admin.delete_part', id=part['id']) }}" method="POST">
         <a class="lnk-delete" href="#" onclick="document.getElementById('frm-delete-{{ part['id'] }}').submit();">delete</a>
        </form>
      {% endif %}
        <form action="{{ url_for('users.add_part_to_cart') }}" method="POST">
          <input type="hidden" name="part_id" value="{{ part.id }}">
          <input type="submit" value="Add to Cart">
        </form>
      </span>
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
