body {
  font-family: "helvetica", sans-serif;
  padding: 0px;
  margin: 0px;
}

nav {
  margin: 0px;
  padding: 10px;
  background-color: #000;
}

nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

nav ul li {
  color: #FFFFFF;
  display: inline-block;
  padding: 0px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li.home a {
  font-size: 1.5em;
  color: #DDD;
  margin-right: 40px;
  font-family: "helveticaneue-thin", helvetica, arial, sans-serif;
}

nav ul li.home a:hover, nav ul li.user a:hover {
  color: #FFF;
}

nav ul li.user {
  float: right;
  padding-top: 9px;
}

nav ul li.user a {
  color: #DDD;
}

nav img.osu_crest {
  height: 32px;
  margin-top: -10px;
  margin-right: 10px;
  vertical-align: middle;
}

nav img.user_avatar {
  height: 32px;
  margin-top: -10px;
  vertical-align: middle;
}

div#content {
  padding: 20px;
}

h1 {
  margin: 0px;
  font-weight: normal;
}

h2 {
  margin: 0px;
  font-weight: normal;
}

p {
  margin: 0px;
}

a {
  color: #ff6347;
  text-decoration: none;
}

a:hover {
  color: #ff8367;
}

ul.flashes {
  list-style-type: none;
  padding: 20px;
  border: 1px solid #F0F0F0;
  background-color: #FFFFF0;
}

ul.flashes li {
  margin: 0px;
  padding: 0px;
  color: #999;
}

form.frm-delete {
  display: inline;
}

a.lnk-delete {
  color: #FAA;
}

a.lnk-delete:hover {
  color: #F00;
}

form.frm-edit {
  margin-top: 20px;
}

form .frm-item {
  margin-bottom: 20px;
  vertical-align: top;
}

p.lnk-back {
  font-size: 0.8em;
}

p.lnk-new {
  font-size: 0.8em;
}

.frm-item label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 20px;
  vertical-align: top;
  color: #666;
}

ul.parts {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}

ul.parts li {
  margin-bottom: 20px;
}

ul.parts li p.part_id {
  color: #999;
  font-size: 0.8em;
  margin-bottom: 4px;
}

ul.parts li span.controls {
  display: inline-block;
  padding-top: 8px;
  font-size: 0.8em;
}

ul.parts li span.controls a {
  margin-right: 10px;
}

div.welcome {
  width: 80%;
  border: 1px solid #ff6347;
  background: #ddd6d6;
  border-radius: 1em;
  margin: auto;
  margin-top: 4em;
  padding: 1em;
  padding-bottom: 2em;
}

div.welcome h1 {
  margin-bottom: 1em;
  text-align: center;
}

div.welcome h2 {
  margin-top: 1em;
}

div.profile {
  margin-top: 20px;
  height: 100px;
}

img.user_profile_avatar {
  float: left;
  height: 100px;
  margin-right: 20px;
}

.orders {
  margin-top: 20px;
}

.orders h3 {
  font-size: 3em;
}
