<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OSU-Cascades IoT Lab Inventory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?q={{ range(10000) | random }}">
  </head>
  <body>
    <nav>
      <ul>
        <li class="home"><img class="osu_crest" src="/static/osu_crest_256x256.png"><a href="/">IoT Lab Inventory</a></li>
        <li><a href="/parts">All Parts</a></li>
        <li><a href="/parts?category=actuator">Actuators</a></li>
        <li><a href="/parts?category=cable">Cables</a></li>
        <li><a href="/parts?category=controller">Controllers</a></li>
        <li><a href="/parts?category=kit">Kits</a></li>
        <li><a href="/parts?category=misc">Misc</a></li>
        <li><a href="/parts?category=sensor">Sensors</a></li>
        <li><a href="/parts?category=tool">Tools</a></li>
        <li><a href="/parts?category=wireless">Wireless</a></li>
        <li class="user">
          {% if current_user.is_authenticated() %}
              {% if current_user.is_admin %}
                  <a href="{{ url_for('admin.admin_dashboard') }}">Admin | </a>
              {% endif %}

            <a href="{{ url_for('users.cart') }}">View Cart | </a>
            <a href="{{ url_for('users.users_current_user')}}"><img class="user_avatar" src="{{ current_user.picture }}"/></a>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
            <a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
        </li>
      </ul>
    </nav>
    <div id="content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div><!-- /content -->
  </body>
</html>
