{% extends 'base.html' %}
{% block content %}
<!-- /user.html -->
<h1>Your Account</h1>
<div class="profile">
  <img class="user_profile_avatar" src="{{ current_user.picture }}">
  <h2>{{ current_user.name }}</h2>
  <p>{{ current_user.username }} ({{ current_user.email }})</p>
  <p>Role: {% if current_user.is_admin %} Administrator {% else %} Student{% endif %}</p>
</div><!-- /profile -->
<div class="orders">
  <h2>Orders</h2>
  {% for order in current_user.orders %}
    <ul>
      <li>
        <h3><a href="{{ url_for('users.order', id=order.id) }}">{{ order.id }}</a></h3>
        <ul>
        {% for order_item in order.order_items %}
          <li>{{ order_item.part.name }}</li>
        {% endfor %}
        </ul>
      </li>
    </ul>
  {% endfor %}
</div><!-- /orders -->
{% endblock %}
