body {
  font-family: "helvetica", sans-serif;
  padding: 0px;
  margin: 0px;
}

nav {
  margin: 0px;
  padding: 10px;
  background-color: #000;
}

nav ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

nav ul li {
  color: #FFFFFF;
  display: inline-block;
  padding: 0px;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li.home a {
  font-size: 1.5em;
  color: #DDD;
  margin-right: 40px;
  font-family: "helveticaneue-thin", helvetica, arial, sans-serif;
}

nav ul li.home a:hover, nav ul li.login a:hover {
  color: #FFF;
}

nav ul li.login {
  float: right;
  padding-top: 9px;
}

nav ul li.login a {
  color: #DDD;
}

div#content {
  padding: 20px;
}


h1 {

}

a {
  color: #ff6347;
}

a:hover {
  color: #ff8367;
}


form.frm-delete {
  display: inline;
}
