body {
    font-family: "helvetica", sans-serif;
    padding: 0px;
    margin: 0px;
}

div#content {
    padding: 20px;
}

nav {
    margin: 0px;
    padding: 10px;
    background-color: #000;
}

nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

nav ul li {
    color: #FFFFFF;
    display: inline-block;
    padding: 0px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a.home {
    font-size: 1.5em;
    color: #DDD;
    margin-right: 40px;
    font-family: "helveticaneue-thin", helvetica, arial, sans-serif;
}

nav ul li a.home:hover {
    color: #FFF;
}

nav ul li.login {
    float: right;
    padding-top: 9px;
}

h1 {

}

a {
    color: #ff6347;
}

form.frm-delete {
    display: inline;
}