{% extends "base.html" %}
{% block content %}
    <!-- /orders/order.html -->
    <a href="#" onclick="history.back();">« back</a>
    <h1>Order</h1><br>
    <p>
        Owner: {{ order.user.username }}<br>
        Date created: TODO<br>
        Status: {{ order.status }}
    </p>
    <br>
    <h2>Items</h2>
    <table>
        {% for order_item in order.order_items %}
            <tr>
                <td>

                    {% if order_item.part.images | length > 0 %}
                        <img height="200" src="{{ url_for('static', filename=order_item.part.images[0].filename) }}"/>
                    {% else %}
                        <img height="200" src="#"/>
                    {% endif %}
                </td>
                <td>
                    <h2 class="part_name"><a href="{{ url_for('public.part', id=order_item.part.id) }}">{{ order_item.part.name }}</a></h2>
                </td>
                <td>
                    {{ order_item.quantity }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
