{% extends 'base.html' %}
{% block content %}
<!-- parts/new.html -->
<h1>Add a New Part</h1>
<p class="lnk-back"><a href="/parts">« back to list</a></p>
<form class="frm-edit" action="/parts" method="POST">
  <div class="frm-item">
    <label>Name</label>
    <input type="text" name="name" size="50">
  </div>
  <div class="frm-item">
    <label>Description</label>
    <textarea name="description" cols="48" rows="10"></textarea>
  </div>
  <div class="frm-item">
    <label>Category:</label>
    <select name="category">
      <option value=""></option>
      <option value="actuator">Actuator</option>
      <option value="cable">Cable</option>
      <option value="controller">Controller</option>
      <option value="kit">Kit</option>
      <option value="misc">Misc</option>
      <option value="sensor">Sensor</option>
      <option value="tool">Tool</option>
      <option value="wireless">Wireless</option>
  </select>
  </div>
  <div class="frm-item">
    <label></label>
    <input type="submit" value="Save Part">
  </div>
</form>
<!-- /parts/new.html -->
{% endblock %}
