{% extends "base.html" %}
{% block content %}
<!-- parts/new.html -->
<form action="/parts/{{ id }}" method="POST">
  <label>Name</label>
  <br>
  <input type="text" name="name" value="{{ name }}">
  <br>
  <label>Description</label>
  <br>
  <textarea name="description">{{ description }}</textarea>
  <br>
  <label>Category:</label><br>
  <select name="category">
    <option value=""></option>
    <option value="controller" {% if category == 'controller' %} selected="selected" {% endif %}>Controller</option>
    <option value="sensor" {% if category == 'sensor' %} selected="selected" {% endif %}>Sensor</option>
    <option value="actuator" {% if category == 'actuator' %} selected="selected" {% endif %}>Actuator</option>
  </select>
  <br>
  <input type="submit" value="Save Part">
</form>
<!-- /parts/new.html -->
{% endblock %}
